{%extends 'all-photos/base.html'%}
{% block content %}
{{block.super}}

<div class="container-fluid">
    {% for image in images %}
    <div class="row">
            <div class=" col-md-6 mx-auto">
                    <div class="card mb-2" style="width: 25rem;">
                        <div class="card-header">
                            <span><img src="{{image.user.profile.profile_pic.url}}" alt="" data-target="#{{image.name}}{{image.id}}"
                                data-toggle="modal"
                                    style="border-radius: 50%; width:50px; height:50px; border-color: brown; border-width: 1px;"></span>
                            <span>
                                <p>{{image.profile}}</p>
                            </span>
        
                        </div>
                        <img src="{{image.image.url}}" alt="" class="img-thumbnail img-responsive img-fluid">
        
                        <div class="card-footer">
                            <p> {{image.name}}</p>
                            
                        </div>
                    </div>
        
        
        
                </div>




            <!-- <div class="card" style="width:400px">
                    <img class="card-img-top" src="{{image.image.url}}" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">John Doe</h4>
                      <p class="card-text">{{image.name}}</p>
                      <p class="card-text">{{image.profile}}</p>
                      <a href="" class="btn btn-primary"></a>
                    </div>
                  </div> -->







        <!-- <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <img src="{{image.image.url}}" class="img-responsive" alt="Image">
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            
            <h2 class="text-center">{{image.name}}</h2>
        </div> -->

    </div>
    {% empty %}
    <div class="row">
        <h2 class="text-center">There No IMAGE Items</h2>
    </div>
          {% endfor %}


</div>

{% endblock %}